h3{
    font-size: 35px;
    line-height: 42.7px;
    font-weight: 500;
}

h3.mobile{
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

h3.history_description{
    margin-top: 0px;
}

h3.history_description.mobile{
    max-width: 150px;
}

h3.CTA_description{
    margin:0;
}

h3.no_margin{
    margin:0;
}