@import "./option/option.css";

select{
    border-color: #F4F0E9;
    border-width: 1px;
    height: 68px;
    border-radius: 10px;
    padding: 20px;

    font-size:20px;

    appearance: none;
    overflow: hidden;
    background:url("../../../../../resources-view/dropdown_arrow.svg") no-repeat 95.2% 51.3%, #F9F7F4;

    outline: none;
}

select.size_1024{
    background:url("../../../../../resources-view/dropdown_arrow.svg") no-repeat 93.8% 51.3%, #F9F7F4;    
}

select.mobile{
    background:url("../../../../../resources-view/dropdown_arrow.svg") no-repeat 95% 51.3%, #F9F7F4;    
}

select:hover{
    cursor: pointer;
    background: url("../../../../../resources-view/dropdown_arrow.svg") no-repeat 95.2% 51.3% rgba(244, 240, 233, 1);
}

select.size_1024:hover{
    background: url("../../../../../resources-view/dropdown_arrow.svg") no-repeat 93.8% 51.3% rgba(244, 240, 233, 1);
}

select.mobile:hover{
    background: url("../../../../../resources-view/dropdown_arrow.svg") no-repeat 95% 51.3% rgba(244, 240, 233, 1);    
}

select:focus{
    background: rgba(244, 240, 233, 1) url("../../../../../resources-view/dropdown_rotated_arrow.svg") no-repeat 95.2% 51.3% ;
}

select.size_1024:focus{
    background: rgba(244, 240, 233, 1) url("../../../../../resources-view/dropdown_rotated_arrow.svg") no-repeat 93.8% 51.3% ;
}

select.mobile:focus{
    background: rgba(244, 240, 233, 1) url("../../../../../resources-view/dropdown_rotated_arrow.svg") no-repeat 95% 51.3% ;    
}


select.gray{
    color: rgba(166, 166, 166, 1);
}

select.mobile{
    font-size: 16px;
    padding: 10px;
    height: 46px;
}
