@import"./headline3/headline3.css";
@import"./paragraph/paragraph.css";

div.feedbacks_feedback_feedbacker{
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
    padding-top: 70px;

}

div.feedbacks_feedback_feedbacker.mobile{
    padding-top: 40px;
}


div.feedbacks_feedback_feedbacker div.feedbacks_feedback_feedbacker_info{
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
}

div.feedbacks_feedback_feedbacker_info.size_1024{
    width: 295px;
}

div.feedbacks_feedback_feedbacker_info.mobile{
    width: 203px;
    overflow: hidden;
    gap: 9px;
    justify-content: flex-end;
}