ul.history_description{
    color:white;
    font-size: 20px;
    line-height: 28.4px;
    font-weight: 400;
}

ul.history_description.size_1024{
    margin-left: -10px;
    margin-top: 28px;
}

ul.history_description.mobile{
    font-size: 16px;
    line-height: 22.72px;
    font-weight: 400;
    padding-left: 25px;
    margin-top: 22px;
}