label{
    display: flex;
    gap: 5px;
}

label.custom_radio, label.custom_check{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
}

label.custom_radio::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 3px solid #1B1F2B;
    left: -31px;
}

label.custom_radio.size_1024::before{
    left: -32px;
}

label.custom_radio.mobile::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 2px solid #1B1F2B;
    left: -25px;
}

.age:checked + label.custom_radio::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50px;    
    background-color: #1B1F2B;
    left: -23px;
}

.age:checked + label.custom_radio.size_1024::after{
    left: -24px;
}

.age:checked + label.custom_radio.mobile::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #1B1F2B;
    left: -19px;
}

label.custom_check::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid #1B1F2B;
    left: -36px;
    border-radius: 5px;
}

label.custom_check.size_1024::before{
    left: -31px;
}

label.custom_check.mobile::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #1B1F2B;
    left: -25px;
    top: 1px;
    border-radius: 3px;
}

.licens:checked + label.custom_check::after{
    position: absolute;
    content: "L";
    font-size: 18px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    color: #1B1F2B;
    left: -32px;
    top: 1px;
    transform: scale(-1, 1) rotate(-45deg);
}

.licens:checked + label.custom_check.size_1024::after{
    left: -27px;
}

.licens:checked + label.custom_check.mobile::after{
    position: absolute;
    content: "L";
    font-size: 16px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    color: #1B1F2B;
    left: -29px;
    top: -4px;
    transform: scale(-1, 1) rotate(-45deg);
}