h1{
    font-size: 95px;
    font-weight: 700;
    line-height: 105px;
    letter-spacing: 2.5px;
}

h1.mobile{
    font-size: 34px;
    font-weight: 700;
    line-height: 38.08px;
    letter-spacing: 0.02em;
}

h1.no_margin{
    margin:0;
}

h1.no_margin.size_1024{
    margin-top: -1px;
}