span{
    color:black;
}

span.mobile{
    position: relative;
    top: 1px;
    font-size: 16.4px;
}

span:hover{
    text-decoration: underline;
    cursor: pointer;
}

span:active{
    color: #286562;
}

