@import "./article/article.css";
@import "./div/headline1/headline1.css";
@import "./div/headline2/headline2.css";
@import "./div/paragraph/paragraph.css";
@import "./image/img.css";
@import "./div/headline3/headline3.css";
@import "./div/list/ul.css";
@import "./button/button.css";
@import "./span/span.css";
@import "./input/input.css";
@import "./select/select.css";
@import "./label/label.css";
@import "./div/a/a.css";
@import "./textarea/textarea.css";


div.body{
    display: flex;
    flex-direction: column;
    gap: 135px;
    margin:0;
}

div.body.mobile{
    gap: 75px;
}

div.head.img{
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: contents;
    align-self: center;
    overflow: hidden;
}

div.head.img::after{
    content: "";
	width: inherit;
	height: 831px;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%);
}

div.head.img.size_1024::after{
    height: 831px;
}

div.head.img.mobile::after{
    height: 486px;
    width: 100%;
}

div.head.img.mobile{
    display: table;
}

div.logo{
    height: fit-content;
    width: fit-content;
}

div.head{
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    gap:110px;
    width: -webkit-fill-available;
    height: inherit;
}

div.head.mobile{
    gap: 53px;
    height: 488px;
}

div.head_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding-left: 19.6%;
    padding-right: 19.6%;
    height: 88px;
    align-items: center;
}

div.fixed_menu{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
    padding-left: 19.6%;
    padding-right: 19.6%;
    height: 88px;
    background: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(54px);
    z-index:9999;
    transition: 1s;
}

div.head_menu.size_1024, div.fixed_menu.size_1024{
    padding-left: 57px;
    padding-right: 57px;
}

div.head_menu.mobile, div.fixed_menu.mobile{
    padding-left: 20px;
    padding-right: 20px;
}

div.head_menu_ref{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

div.head_menu_ref.size_1024{
    gap: 30px;
}

div.head_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    width: 562px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

div.head_content.size_1024{
    width: 442px;
}

div.head_content.mobile{
    width: 310px;
    gap:40px;
}

div.tour_type_select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: -webkit-fill-available;
    text-align: center;
    justify-content: center;
}

div.tour_type_select.mobile{
    gap: 10px;
    width: 300px;
}

div.description.tours{
    gap:35px;
}

div.tours_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    gap:30px;
    align-items: center;
    justify-content: center;
}

div.tours_cards.size_1024, div.tours_cards.mobile{
    gap:18px;
}

div.tour{
    width: 370px;
    height: 531px;
    border-radius: 50px;

    overflow: hidden;
    position: relative;

    color: white;
}

div.tour_photo{
    height: inherit;
    width: inherit;

    display: grid;
    justify-items: center;
    justify-content: center;
}

div.tour_photo::after{
    content: "";
	width: -webkit-fill-available;
	height: -webkit-fill-available;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

div.tour.size_1024{
    width: 450px;
    height: 531px;
}

div.tour.mobile{
    width: 318px;
    height: 318px;
    border-radius: 20px;
}

div.tour:hover{
    cursor: pointer;
}

div.tour:hover>.tour_photo>img{
    transform: scale(1.2);
    transition: 300ms;
}

div.tour_card_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    text-align: left;
    top:0%;
    left:0%;
    
    justify-content: space-between;

    height: -webkit-fill-available;
}

div.tour_description{
    display: flex;
    flex-direction: column;

    margin: 50px 0 0 50px;
    gap:14px;
    width: -webkit-fill-available;
}

div.tour_description.mobile{
    margin: 25px 0 0 25px;
}

div.tour_footer{
    margin: 0 0 50px 50px;
    display: flex;
    gap: 15px;
    align-items: center;
}

div.tour_footer.mobile{
    margin: 0 0 26px 25px;
}

div.tour:hover > div.tour_card_content > div.tour_footer{
    background-color: #286562;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0 0 43px 30px;
}

div.tour.mobile:hover > div.tour_card_content.mobile > div.tour_footer.mobile{
    background-color: #286562;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    margin: 0 0 21.5px 15px;
}

div.field{
    gap:8px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
    height: inherit;
}

div.field.size_1024{
    width:389px;
}

div.field.comment{
    width: -webkit-fill-available;
    height: 152px;
}

div.field.comment.mobile{
    height: 160px;
    margin-bottom: 4px;
}

div.field.mobile{
    width: 278px;
}

div.licens{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

div.licens.mobile{
    width: 278px;
    text-align: left;
    gap: 5px;
}

div.licens.mobile>p{
    width: 248px;
}

div.field>textarea.mobile{
    width: -webkit-fill-available;
    height: 132px;
    padding: 10px;
    font-size: 16px;
}

div.fields_group{
    display: flex;
    flex-direction: row;
    gap:30px;
    height: 104px;
    justify-content: center;
    
}

div.fields_group.mobile{
    flex-wrap: wrap;
    height: unset;
    width: 278px;
}

div.radio{
    display: flex;
    flex-direction: row;
    gap:31px;
}

div.buttons{
    display: flex;
    flex-direction: row;
    gap:30px;
}

div.buttons.mobile{
    width: 278px;
    gap: unset;
    justify-content: space-between;
    margin: 2px 0px 0px 0px;
}

div.feedbacks{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
}

div.feedbacks.size_1024{
    gap:18px;
    padding-left: 53px;
    padding-right: 53px;
}

div.feedbacks.mobile{
    flex-direction: column;
    gap: 20px;
    padding-left: 21px;
    padding-right: 21px;
}

div.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: top;
    gap: 30px;
    margin:auto;
}

div.description.mobile{
    max-width: 319px;
    gap:20px;
}

div.description.tours.mobile{
    gap:31px
}

div.photos{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap:30px;
}

div.photos.mobile{
    gap: 18px;
}

div.photos_line{
    display: flex;
    flex-direction: row;
    gap:30px;
}

div.photos_line.size_1024{
    gap:20px;
}

div.photos_line.I.mobile{ gap: 18px; }

div.photos_line.III.mobile > div { width: 154px;}

div.photos_line.mobile{
    gap: 10px;
}

div.photos_photo{
    overflow: hidden;
    height: 301px;
    width: 442px;
    border-radius: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

div.photos_photo.size_1024{
    width: 314.67px;
    height: 300px;
}

div.photos_photo.mobile{
    width: 150px;
    height: 110px;
    border-radius: 20px;
}

div.photos_photo.narrow{
    width: 348px;
}

div.photos_photo.narrow.size_1024{
    width: 231px;
    height: 301px;
}

div.photos_photo.narrow.mobile{
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
}

div.histories{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

div.histories.mobile{
    gap: 20px;
}

div.history{
    width: 1170px;
    height: 567px;
    border-radius: 50px;
    overflow: hidden;

    gap: 50px;
    position: relative;
    
    cursor: pointer;
}

div.history.size_1024{
    width: 918px;
}

div.history.mobile{
    width: 318px;
    height: 455px;
    border-radius: 20px;
}

div.history:hover>div.history_image>img{
    transform: scale(1.2);
    transition: 300ms;
}

div.history:hover>div.history_image>img.rotated{
    transform: scale(-1.2, 1.2);
    transition: 300ms;
}

div.history_image.mobile{
    height: 455px;
    width: 318px;
}

div.history_image::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    width: 100%;
    height: 100%;
}

div.history_description{
    position: absolute;
    text-align: left;
    top:0%;
    left:0%;
    gap: 37px;
    color: #FFFFFF;
    padding-left: 60px;
    padding-top: 60px;
    max-width: 554px;
}

div.history_description.mobile{
    max-width: 263px;
    gap: 20px;
    padding: 30px;
}

div.history_footer{
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: left;
    top:472px; /*479 -> 473 459*/
    left:0%;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 53px;
    width:91.5%;
    justify-content: space-between;
}

div.history_footer.size_1024{
    width: 89%;
}

div.history_footer.mobile{
    top: 363px;
    padding: 30px 0px 23px 10px;
    text-align: center;
    vertical-align: middle;
}

div.history_footer_more{
    display: flex;
    flex-direction: row;
    gap:15px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: stretch;
}

div.history_footer_more:hover{
    background-color: #286562;
    opacity: 1;
}

div.history_footer_social{
    display: flex;
    flex-direction: row;
    gap:35px;
    text-align: right;
    align-items: center;
}

div.CTA{
    display: flex;
    flex-direction: row;
    gap:30px;

    vertical-align:middle;
    width: 771px;
}

div.CTA.mobile{
    flex-direction: column;
    width: 360px;
    margin-top: 4px;
}

div.CTA_photo{
    height: 370px;
    width: 370px;
    
    border-radius: 50px;
    overflow: hidden;
}

div.CTA_photo.mobile{
    height: 130px;
    width: 130px;
    border-radius: 20px;
    margin: auto;
}

div.CTA_description{
    display: flex;
    flex-direction: column;

    gap:20px;
    text-align: left;
    width: 371px;

    justify-content:center;
}

div.CTA_description.mobile{
    align-items: center;
    width: 291px;
    margin: auto;
    text-align: center;
}

div.footer{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.footer.size_1920{
    width: 1168px;
}

div.footer.size_1024{
    width: 918px;
}

div.footer.mobile{
    width: 317px;
    justify-content: center;
    gap: 7px;
}

div.footer_content{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

div.footer_content.social{
    gap: 27px;
}

div.footer_content.social.mobile{
    gap: 20px;
    position: relative;
    left: 2px;
    top: 2px;
}

div.social_url{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

div.social_url.mobile{
    gap: 5px;
}

div.social_url:hover{
    cursor: pointer;
    text-decoration: underline;
}

div.social_url:active{
    color: rgba(40, 101, 98, 1);
}

div.unvisible{
    transform: translateY(-100%);
    transition: 300ms;
}

div.undisplay{
    display: none;
}