h2{
    font-size:59px;
    line-height: 73.16px;
    font-weight: 700;
}

h2.mobile{
    font-size: 35px;
    line-height: 38.08px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

h2.description{
    text-align: center;
    vertical-align:middle;
    max-width: 529px;
    margin: auto;
}

h2.description.histories{
    max-width: 615px;
}